@font-face {
 font-family: 'Montserrat';
 src: url("../fonts/Montserrat-Regular.woff") format('woff');
}
@font-face {
 font-family: 'Polonium';
 src: url("../fonts/Polonium.woff") format('woff');
}body {
  width: 100%;
  margin: 0 auto;
  background: #F6F6F6;;
  height: 850px;
  display: block;
  position: absolute;
}
.mirage {
  background: url('../images/mirage1280.svg');
  width: 264px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: 6.88%;
  top: 40px;
}
.kv0 {
  background-color: #EDF060;
  position: absolute;
  width: 124px;
  height: 28px;
  top: 45px;
  left: 82.34%;
}
.p1 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 41.88%;
  top: 45px;
  color: #000000;
}
.p2 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 55.94%;
  top: 45px;
  color: #000000;
}
.p3 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 69.61%;
  top: 45px;
  color: #000000;
}
.p4 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 82.5%;
  top: 45px;
  color: #000000;
}
.p5 {
  position: absolute;
  left: 6.88%;
  top: 148px;
  font-family: Polonium;
  font-size: 40px;
  letter-spacing: 0.1em;
}
.karta {
  position: absolute;
  width: 1104px;
  height: 442px;
  left: 6.88%;
  top: 238px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.p6 {
  position: absolute;
  left: 6.88%;
  top: 700px;
  font-family: Montserrat;
  font-size: 20px;
}
.p1:hover {
  color: #EDF060;
}
.p2:hover {
  color: #EDF060;
}
.p3:hover {
  color: #EDF060;
}
