@font-face {
 font-family: 'Montserrat';
 src: url("/fonts/Montserrat-Regular.woff") format('woff');
}
@font-face {
 font-family: 'Polonium';
 src: url("/fonts/Polonium.woff") format('woff');
}
body {
  width: 100%;
  margin: 0 auto;
  background: #F6F6F6;;
  height: 1855px;
  display: block;
  position: absolute;
}
.mirage {
  background: url('../images/mirage1280.png');
  width: 264px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: 88px;
  top: 40px;
}
.kv0 {
  background-color: #EDF060;
  position: absolute;
  width: 108px;
  height: 33px;
  top: 45px;
  left: 533px;
}
.p1 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 536px;
  top: 45px;
  color: #000000;
}
.p2 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 716px;
  top: 45px;
  color: #000000;
}
.p3 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 891px;
  top: 45px;
  color: #000000;
}
.p4 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 1056px;
  top: 45px;
  color: #000000;
}
.reklama {
  position: absolute;
  top: 121px;
  left: : 0px;
  background-color: #EDF060;
  width: 1280px;
  height: 583px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.p0 {
  left: 88px;
  top: 88px;
  font-size: 106px;
  font-family: Polonium;
  position: absolute;
  letter-spacing: 0.1em;
}
.px {
  font-family: Montserrat;
  font-size: 20px;
  position: absolute;
  left: 88px;
  top: 502px;
}
.kr1 {
  background-color: #EDF060;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 618px;
  top: 760px;
  border-radius: 50%;
}
.kr2 {
  border: 4px solid #000000;
  box-sizing: border-box;
  border: 2px #000000 solid;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 592px;
  top: 772px;
  border-radius: 50%;
}
.img1 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.p5 {
  font-family: Polonium;
  font-size: 40px;
  position: absolute;
  left: 88px;
  top: 972px;
  letter-spacing: 0.1em;
}
.p6 {
  font-family: Montserrat;
  font-size: 20px;
  position: absolute;
  left: 88px;
  top: 1080px;
  width: 807px;
}
.p7 {
  font-family: Montserrat;
  font-size: 40px;
  position: absolute;
  left: 180px;
  top: 1265px;
}
.kv1 {
  position: absolute;
  width: 109px;
  height: 109px;
  left: 88px;
  top: 1400px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.kv2 {
  position: absolute;
  width: 109px;
  height: 109px;
  left: 1257px;
  top: 1400px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.p8 {
  font-family: Montserrat;
  font-size: 40px;
  position: absolute;
  left: 104px;
  top: 1578px;
}
.kv3 {
  background-color: #EDF060;
  position: absolute;
  width: 475px;
  height: 88px;
  left: 440px;
  top: 1708px;
}
.kv4 {
  position: absolute;
  width: 475px;
  height: 88px;
  left: 403px;
  top: 1739px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.kv5 {
  background-color: #EDF060;
  position: absolute;
  width: 196px;
  height: 24px;
  left: 542px;
  top: 1842px;
}
.p9 {
  font-family: Montserrat;
  font-size: 40px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #000000;
}
.p11 {
  font-family: Montserrat;
  font-size: 20px;
  position: absolute;
  left: 542px;
  top: 1845px;
  color: #000000;

}
