@font-face {
 font-family: 'Montserrat';
 src: url("../fonts/Montserrat-Regular.woff") format('woff');
}
@font-face {
 font-family: 'Polonium';
 src: url("../fonts/Polonium.woff") format('woff');
}
body {
  width: 100%;
  margin: 0 auto;
  background: #F6F6F6;;
  height: 1900px;
  display: block;
  position: absolute;
}
.png {
  cursor: url('../images/cursor.png'), auto;
}
.svg {
  cursor: url('../images/cursor.svg'), auto;
}
.mirage {
  background: url('../images/mirage1280.svg');
  width: 264px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: 6.88%;
  top: 40px;
}
.kv0 {
  background-color: #EDF060;
  position: absolute;
  width: 108px;
  height: 28px;
  top: 45px;
  left: 41.64%;
}
.p1 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 41.88%;
  top: 45px;
  color: #000000;
}
.p2 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 55.94%;
  top: 45px;
  color: #000000;
}
.p3 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 69.61%;
  top: 45px;
  color: #000000;
}
.p4 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 82.5%;
  top: 45px;
  color: #000000;
}
.a1 {
  position: absolute;
  width: 100%;
}
.reklama {
  position: absolute;
  top: 121px;
  left: : 0%;
  background-color: #EDF060;
  width: 100%;
  height: 583px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.text {
  position: absolute;
  background: url('../images/text.png');
  left: 6.88%;
  top: 95px;
  z-index: 1;
  width: 1110px;
  height: 324px;
}
.p0 {
  left: 6.88%;
  top: 88px;
  font-size: 106px;
  font-family: Polonium;
  position: absolute;
  letter-spacing: 0.1em;
  color: black;
}
.px {
  font-family: Montserrat;
  font-size: 20px;
  position: absolute;
  left: 6.88%;
  top: 502px;
  color: black;
}
.kr1 {
  background-color: #EDF060;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 48.28%;
  top: 760px;
  border-radius: 50%;
}
.kr2 {
  border: 4px solid #000000;
  box-sizing: border-box;
  border: 2px #000000 solid;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 46.25%;
  top: 772px;
  border-radius: 50%;
}
.img1 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.p5 {
  font-family: Polonium;
  font-size: 40px;
  position: absolute;
  left: 6.88%;
  top: 972px;
  letter-spacing: 0.1em;
}
.p6 {
  font-family: Montserrat;
  font-size: 20px;
  position: absolute;
  left: 6.88%;
  top: 1080px;
  width: 807px;
}
.p7 {
  font-family: Montserrat;
  font-size: 40px;
  position: absolute;
  left: 14.06%;
  top: 1295px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.kv1 {
  position: absolute;
  width: 109px;
  height: 109px;
  left: 6.88%;
  top: 1370px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.kv2 {
  position: absolute;
  width: 109px;
  height: 109px;
  left: 85.94%;
  top: 1370px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.gal1 {
  background: url('../images/gal1.png');
  position:absolute;
  top: 0px;
  left: 0%;
  width: 101px;
  height: 101px;
}
.gal2 {
  background: url('../images/gal2.png');
  position:absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 37px;
  background-repeat: no-repeat;
}
.strelka {
  position: absolute;
  background: url('../images/strelka.png');
  top: 1403px;
  left: 22.97%;
  width: 822px;
  height: 50px;
  background-repeat: no-repeat;
}
.p8 {
  font-family: Montserrat;
  font-size: 40px;
  position: absolute;
  left: 8.13%;
  top: 1578px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.kv3 {
  background-color: #EDF060;
  position: absolute;
  width: 475px;
  height: 88px;
  left: 38.7%;
  top: 1678px;
}
.kv4 {
  position: absolute;
  width: 475px;
  height: 88px;
  left: 37%;
  top: 1709px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.kv5 {
  background-color: #EDF060;
  position: absolute;
  width: 196px;
  height: 24px;
  left: 42.42%;
  top: 1842px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.p9 {
  font-family: Montserrat;
  font-size: 40px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #000000;
}
.p11 {
  font-family: Montserrat;
  font-size: 20px;
  position: absolute;
  left: 42.42%;
  top: 1845px;
  color: #000000;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.p2:hover {
  color: #EDF060;
}
.p3:hover {
  color: #EDF060;
}
.p4:hover {
  color: #EDF060;
}
