/* @media only screen and (min-width: 900px) and (max-width: 1024px) {
  body {
  }
} */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body {
    width: 768px;
    height: 1728px;
  }
  .reklama {
    height: 512px;
    top: 98px;
  }
  .p1, .p2, .p3, .p4 {
    font-size: 20px;
    top: 30px;
  }
  .p1 {
    left: 27.47%;
  }
  .p2 {
    left: 46.09%;
  }
  .p3 {
    left: 64.32%;
  }
  .p4 {
    left: 81.51%;
  }
  .kv0 {
    width: 88px;
    height: 12px;
    left: 27.08%;
  }
  .mirage {
    background: url('../images/mirage768.png');
    width: 97px;
    height: 22px;
    top: 32px;
    left: 5.99%;
  }
  .p0 {
    font-size: 68px;
    left: 5.99%;
    width: 556px;
  }
  .px {
    width: 440px;
    top: 561px;
  }
  .reklama {
    height: 762px;
    width: 768px;
  }
  .kr1 {
    left: 45.44%;
    top: 911px;
  }
  .kr2 {
    left: 42.06%;
    top: 923px;
  }
  .p5 {
    top: 1081px;
    left: 5.99%;
  }
  .p6 {
    top: 1165px;
    width: 604px;
    left: 5.99%;
  }
  .kv1 {
    top: 1461px;
    left: 5.99%;
  }
  .kv2 {
    top: 1461px;
    right: 5.99%;
  }
  .p7 {
    font-size: 25px;
    top: 1358px;
  }
  .p8 {
    font-size: 25px;
    top: 1654px;
  }
  .kv3 {
    top: 1725px;
  }
  .kv4 {
    top: 1756px;
  }
  .kv5 {
    top: 1869px;
  }
  .p11 {
    top: 1869px;
  }
}
/* @media only screen and (min-width: 320px) and (max-width: 414px) {
  body {
  }
} */
@media only screen and (min-width: 414px) and (max-width: 567px) {
  body {
  }
}
/* @media only screen and (min-width: 568px) and (max-width: 768px) {
  body {
  }
} */
/* @media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body{
  }
} */
/* @media all and (min-width: 1440px) and (max-width: 1680px) {
  body {
  }
} */
/* @media all and (min-width: 1366px) and (max-width: 1440px) {
  body {
  }
} */
@media only screen  and (min-width: 1840px) {
  body {
  }
  .reklama {
    height: 650px;
  }
  .kr1 {
    top: 810px
  }
  .kr2 {
    top: 832px;
  }
}
