@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body {
    width: 100%;
    height: 1628px;
  }
  .text {
    background: url('../images/text768.png');
    left: 6.63%;
    top: 235px;
    width: 450px;
    height: 190px;
    background-repeat: no-repeat;
  }
  .reklama {
    height: 512px;
    top: 98px;
  }
  .p1, .p2, .p3, .p4 {
    font-size: 20px;
    top: 30px;
  }
  .p1 {
    left: 27.47%;
  }
  .p2 {
    left: 46.09%;
  }
  .p3 {
    left: 64.32%;
  }
  .p4 {
    left: 81.51%;
  }
  .kv0 {
    top: 35px;
    width: 88px;
    height: 12px;
    left: 27.08%;
  }
  .mirage {
    background: url('../images/mirage768.png');
    width: 97px;
    height: 22px;
    top: 32px;
    left: 5.99%;
  }
  .p0 {
    font-size: 68px;
    left: 5.99%;
    width: 556px;
  }
  .px {
    width: 440px;
    top: 561px;
  }
  .reklama {
    height: 762px;
  }
  .kr1 {
    left: 45.44%;
    top: 911px;
  }
  .kr2 {
    left: 42.06%;
    top: 923px;
  }
  .p5 {
    top: 1081px;
    left: 5.99%;
  }
  .p6 {
    top: 1165px;
    width: 604px;
    left: 5.99%;
  }
  .kv1 {
    top: 1461px;
    left: 5.99%;
  }
  .kv2 {
    top: 1461px;
    right: 5.99%;
  }
  .p7 {
    font-size: 25px;
    top: 1358px;
  }
  .p8 {
    font-size: 25px;
    top: 1454px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 458px;
  }
  .kv3 {
    top: 1525px;
    left: 24.48%;
  }
  .kv4 {
    top: 1556px;
    left: 19.66%;
  }
  .kv5 {
    top: 1669px;
    left: 50%;
  }
  .p11 {
    top: 1669px;
    left: 50%;

  }
}


@media only screen and (min-width: 414px) and (max-width: 768px) {
  body {
    width: 100%;
  }
  .p1, .p2, .p3, .p4 {
    font-size: 10px;
    top: 14px
  }
  .p1 {
    left: 23.43%;
  }
  .p2 {
    left: 44.44%;
  }
  .p3 {
    left: 64.98%;
  }
  .p4 {
    left: 84.54%;
  }
  .mirage {
    background: url('../images/mirage414.svg');
    width: 54px;
    height: 13px;
    background-repeat: no-repeat;
    top: 16px;
    left: 5.8%
  }
  .kv0 {
    width: 40px;
    height: 10px;
    top: 16px;
    left: 23.43%
  }
  .p0 {
    width: 375px;
    left: 5.8%;
    top: 48px;
    font-size: 36.06px;
  }
  .reklama {
    height: 297px;
  }
  .px {
    top: 206px;
    left: 5.8%;
    width: 292px;
    font-size: 20px;
  }
  .text {
    background: url('../images/text414.png');
    left: 17.45%;
    top: 54px;
    width: 220px;
    height: 100px;
    background-repeat: no-repeat;
    z-index: 100;
  }
  .kr1 {
    top: 455px;
  }
  .kr2 {
    top: 467px;
  }
  .p5 {
    font-size: 30px;
    width: 384px;
    top: 609px;
  }
  .p6 {
    top: 710px;
    width: 346px;
    font-size: 10px;
    line-height: 125%;
  }
  .p8 {
    width: 289px;
    top: 837px;
    font-size: 15px;
  }
}


@media only screen  and (min-width: 1840px) {
  body {
    width: 100%;
  }
  .reklama {
    height: 650px;
  }
  .kr1 {
    top: 810px
  }
  .kr2 {
    top: 832px;
  }

}
