@font-face {
 font-family: 'Montserrat';
 src: url("../fonts/Montserrat-Regular.woff") format('woff');
}
@font-face {
 font-family: 'Polonium';
 src: url("../fonts/Polonium.woff") format('woff');
}body {
  width: 100%;
  margin: 0 auto;
  background: #F6F6F6;;
  height: 3100px;
  display: block;
  position: absolute;
}
.mirage {
  background: url('../images/mirage1280.svg');
  width: 264px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: 6.88%;
  top: 40px;
}
.kv0 {
  background-color: #EDF060;
  position: absolute;
  width: 95px;
  height: 28px;
  top: 45px;
  left: 69.53%;
}
.p1 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 41.88%;
  top: 45px;
  color: #000000;
}
.p2 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 55.94%;
  top: 45px;
  color: #000000;
}
.p3 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 69.61%;
  top: 45px;
  color: #000000;
}
.p4 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 82.5%;
  top: 45px;
  color: #000000;
}
.p5 {
  position: absolute;
  left: 6.88%;
  top: 148px;
  font-family: Polonium;
  font-size: 40px;
  letter-spacing: 0.1em;
}
.pl1 {
  background: url('../images/p1.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 260px;
  height: 389px;
  top: 238px;
  left: 7.11%;
}
.pl2 {
  background: url('../images/p2.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 260px;
  height: 389px;
  top: 238px;
  left: 28.91%;
}
.pl3 {
  background: url('../images/p3.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 260px;
  height: 389px;
  top: 238px;
  left: 50.78%;
}
.pl4 {
  background: url('../images/p4.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 260px;
  height: 389px;
  top: 238px;
  left: 72.66%;
}
.kv1 {
  background: #EDF060;
  position: absolute;
  width: 90.94%;
  height: 433px;
  left: 4.53%;
  top: 801px;
  display: none;
}
.kv2 {
  position: absolute;
  width: 270px;
  height: 52px;
  left: 6.88%;
  top: 725px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.p6 {
  font-family: Montserrat;
  font-size: 30px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.pl5 {
  background: url('../images/p5.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 249px;
  height: 373px;
  top: 830px;
  left: 6.88%;
}
.pl6 {
  background: url('../images/p6.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 249px;
  height: 373px;
  top: 830px;
  left: 29.14%;
}
.pl7 {
  background: url('../images/p7.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 249px;
  height: 373px;
  top: 830px;
  left: 51.41%;
}
.pl8 {
  background: url('../images/p8.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 249px;
  height: 373px;
  top: 830px;
  left: 73.67%;
}
.kv3 {
  background: #EDF060;
  position: absolute;
  width: 514px;
  height: 739px;
  left: 5.4%;
  top: 1442px;
  display: none;
}
.kv4 {
  position: absolute;
  width: 418px;
  height: 103px;
  left: 6.88%;
  top: 1314px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.pl9 {
  position: absolute;
  left: 6.88%;
  top: 1470px;
}
.pl10 {
  background: url('../images/p10.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 432px;
  height: 647px;
  top: 1286px;
  left: 59.45%;
}
.kv5 {
  background: #EDF060;
  position: absolute;
  width: 491px;
  height: 701px;
  left: 57.81%;
  top: 1262px;
  display: none;
}
.kv6 {
  position: absolute;
  width: 337px;
  height: 137px;
  left: 64.45%;
  top: 2014px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.kv7 {
  background: #EDF060;
  position: absolute;
  width: 90.94%;
  height: 588px;
  left: 4.53%;
  top: 2393px;
  display: none;
}
.kv8 {
  position: absolute;
  width: 774px;
  height: 103px;
  left: 6.88%;
  top: 2266px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.pl11 {
  background: url('../images/p11.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 352px;
  height: 528px;
  top: 2423px;
  left: 6.88%;
}
.pl12 {
  background: url('../images/p12.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 352px;
  height: 528px;
  top: 2423px;
  left: 36.25%;
}
.pl13 {
  background: url('../images/p13.png');
  position: absolute;
  background-repeat: no-repeat;
  width: 352px;
  height: 528px;
  top: 2423px;
  left: 65.63%;
}
.p1:hover {
  color: #EDF060;
}
.p2:hover {
  color: #EDF060;
}
.p4:hover {
  color: #EDF060;
}

.kv2:hover ~ .kv1 {
  display: block;
}
.kv4:hover ~ .kv3 {
  display: block;
}
.kv6:hover ~ .kv5 {
  display: block;
}
.kv8:hover ~ .kv7 {
  display: block;
}
