body {
  width: 100%;
  margin: 0 auto;
  background: #F6F6F6;;
  height: 1488px;
  display: block;
  position: absolute;
}
.mirage {
  background: url('../images/mirage1280.png');
  width: 264px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: 88px;
  top: 40px;
}
.kv0 {
  background-color: #EDF060;
  position: absolute;
  width: 103px;
  height: 33px;
  top: 45px;
  left: 716px;
}
.p1 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 536px;
  top: 45px;
  color: #000000;
}
.p2 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 716px;
  top: 45px;
  color: #000000;
}
.p3 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 891px;
  top: 45px;
  color: #000000;
}
.p4 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 1056px;
  top: 45px;
  color: #000000;
}
.p5 {
  position: absolute;
  left: 88px;
  top: 148px;
  font-family: Polonium;
  font-size: 40px;
  letter-spacing: 0.1em;
}
.t1 {
  position: absolute;
  left: 88px;
  top: 238px;
  width: 488px;
  height: 536px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.t2 {
  position: absolute;
  left: 704px;
  top: 238px;
  width: 488px;
  height: 536px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.t3 {
  position: absolute;
  left: 88px;
  top: 906px;
  width: 488px;
  height: 536px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.t4 {
  position: absolute;
  left: 704px;
  top: 906px;
  width: 488px;
  height: 536px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.ochki1 {
  background: url('../images/ochki1.png');
  position: absolute;
  width: 360px;
  height: 175px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.cena {
  position: absolute;
  background: #EDF060;
  width: 116px;
  height: 60px;
  margin: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 445px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.cen {
  position: absolute;
  font-family: Montserrat;
  font-size: 48px;
  margin: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.ochki2 {
  background: url('../images/ochki2.png');
  position: absolute;
  width: 360px;
  height: 175px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.ochki3 {
  background: url('../images/ochki3.png');
  position: absolute;
  width: 360px;
  height: 175px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.ochki4 {
  background: url('../images/ochki4.png');
  position: absolute;
  width: 360px;
  height: 175px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.vopros {
  background: url('../images/vopros.png');
  position: absolute;
  width: 78px;
  height: 74px;
  top: 30px;
  left: 30px;
  background-repeat: no-repeat;
}
.kvx {
  background-color: #EDF060;
  position: absolute;
  width: 292px;
  height: 96px;
  top: 13px;
  left: 124px;
}
.kvy {
  position: absolute;
  width: 292px;
  height: 96px;
  top: 24px;
  left: 113px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.px {
  position: absolute;
  font-family: Montserrat;
  font-size: 24px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.t1:hover {
background: url('../images/och1.png');
}
.t2:hover {
background: url('../images/och2.png');
}
.t3:hover {
background: url('../images/och3.png');

}
.t4:hover {
background: url('../images/och4.png');
}
.t1:hover ~ .t1 .ochki1 {
opacity: 0;
}
.t2:hover ~ .t2 .ochki2 {
opacity: 0;
}
.t3:hover ~ .t3 .ochki3 {
opacity: 0;
}
.t4:hover ~ .t4 .ochki4 {
opacity: 0;
}
