@media only screen and (min-width: 414px) and (max-width: 768px) {
  body {
    width: 100%;
    height: 2500px;
  }
  .t1, .t2, .t3, .t4, .t5, .t6 {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .t2 {
    top: ;
  }
  .t3 {
    top: ;
  }
  .t4 {
    top: ;
  }
  .t5 {
    top: ;
  }
  .t6 {
    top: ;
  }
  .ochki1 {
    background: url('../images/ochki12.png');
    width: 210px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .ochki2 {
    background: url('../images/ochki22.png');
    width: 220px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .ochki3 {
    background: url('../images/ochki32.png');
    width: 215px;
    height: 100px;
    background-repeat: no-repeat;
  }
  .ochki4 {
    background: url('../images/ochki42.png');
    width: 210px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .ochki5 {
    background: url('../images/ochki52.png');
    width: 210px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .ochki6 {
    background: url('../images/ochki62.png');
    width: 210px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .cena {
    width: 66px;
    height: 32px;
    top: 245px;
  }
  .cen {
    font-size: 25px;
  }
  .t1 {
    opacity: 0;
  }
}

@media only screen  and (min-width: 1840px) {
  body {
    width: 100%;
    height: 1500px;
  }
  .t2 {
    left: calc(50% - 244px);
    top: 238px;

  }
  .t3 {
    top: 238px;
    left: auto;
    right: 6.88%;
  }
  .t4 {
    top: 901px;
    left: 6.88%;
  }
  .t5 {
    left: calc(50% - 244px);
    top: 901px;
  }
  .t6 {
    top: 901px;
    right: 6.88%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body {
    width: 100%;
    height: 1728px;
  }
  .mirage {
    background: url('../images/mirage768.png');
    width: 97px;
    height: 22px;
    top: 32px;
    left: 5.99%;
  }
  .t1, .t2, .t3, .t4, .t5, .t6 {
    width: 362px;
    height: 322px;
  }
  .ochki1 {
    background: url('../images/ochki12.png');
    width: 210px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .ochki2 {
    background: url('../images/ochki22.png');
    width: 220px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .ochki3 {
    background: url('../images/ochki32.png');
    width: 215px;
    height: 100px;
    background-repeat: no-repeat;
  }
  .ochki4 {
    background: url('../images/ochki42.png');
    width: 210px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .ochki5 {
    background: url('../images/ochki52.png');
    width: 210px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .ochki6 {
    background: url('../images/ochki62.png');
    width: 210px;
    height: 110px;
    background-repeat: no-repeat;
  }
  .cena {
    width: 66px;
    height: 32px;
    top: 265px;
  }
  .cena2 {
    top: 265px;
  }
  .cen {
    font-size: 25px;
  }
  .t1 {
    left: 5.99%;
    top: 182px
  }
  .t2 {
    right: 5.99%;
    top: 182px
  }
  .t3 {
    left: 5.99%;
    top: 612px
  }
  .t4 {
    right: 5.99%;
    top: 612px
  }
  .t5 {
    left: 5.99%;
    top: 1042px
  }
  .t6 {
    right: 5.99%;
    top: 1042px
  }
  .p1, .p2, .p3, .p4 {
    font-size: 20px;
    top: 30px;
  }
  .p1 {
    left: 27.47%;
  }
  .p2 {
    left: 46.09%;
  }
  .p3 {
    left: 64.32%;
  }
  .p4 {
    left: 81.51%;
  }
  .p5 {
    top: 98px;
    left: 5.99%;
  }
}
