@font-face {
 font-family: 'Montserrat';
 src: url("../fonts/Montserrat-Regular.woff") format('woff');
}
@font-face {
 font-family: 'Polonium';
 src: url("../fonts/Polonium.woff") format('woff');
}
body {
  width: 100%;
  margin: 0 auto;
  background: #F6F6F6;;
  height: 850px;
  display: block;
  position: absolute;
}
.mirage {
  background: url('../images/mirage1280.svg');
  width: 264px;
  height: 60px;
  background-repeat: no-repeat;
  position: absolute;
  left: 6.88%;
  top: 40px;
}
.kv0 {
  background-color: #EDF060;
  position: absolute;
  width: 124px;
  height: 28px;
  top: 45px;
  left: 82.34%;
}
.p1 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 41.88%;
  top: 45px;
  color: #000000;
}
.p2 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 55.94%;
  top: 45px;
  color: #000000;
}
.p3 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 69.61%;
  top: 45px;
  color: #000000;
}
.p4 {
  font-family: Montserrat;
  font-size: 25px;
  position: absolute;
  left: 82.5%;
  top: 45px;
  color: #000000;
}
.kv1 {
  position: absolute;
  width: 600px;
  height: 700px;
  border: 4px solid #000000;
  box-sizing: border-box;
  left: 6.88%;
  top: 238px;
}
.img1 {
  position: absolute;
  background: url('../images/ochki1.png');
  width: 360px;
  height: 175px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
.px {
  position: absolute;
  top: 238px;
  left: 800px;
  font-size: 40px;
  font-family: Montserrat;
}
.py {
  position: absolute;
  top: 328px;
  left: 800px;
  font-size: 20px;
  font-family: Montserrat;
}

.p1:hover {
  color: #EDF060;
}
.p2:hover {
  color: #EDF060;
}
.p3:hover {
  color: #EDF060;
}
.p4:hover {
  color: #EDF060;
}
.kv1:hover > .img1 {
opacity: 0;
}
.kv1:hover {
background: url('../images/img1.png');
}
